@page
@model BugBuddy.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<h1>Confirm your email</h1>

@if (Model.DisplayConfirmAccountLink && !string.IsNullOrEmpty(Model.EmailConfirmationUrl))
{
    <p>
        We've sent a confirmation email. For development purposes, you can click the link below to confirm your account:
    </p>
    <p>
        <a href="@Model.EmailConfirmationUrl">Confirm Email</a>
    </p>
}
else
{
    <p>
        We've sent you a confirmation email. Please check your inbox to complete registration.
    </p>
}
